@import url(./__container/popup-profile__container.css);
@import url(./__close-button/popup-profile__close-button.css);
@import url(./__title/popup-profile__title.css);
@import url(./__form/popup-profile__form.css);
@import url(./__input/popup-profile__input.css);
@import url(./__submit-button/popup-profile__submit-button.css);

.popup-profile {
  /*
    display: none;
    */
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 80px);
    height: 100%;
    background-color: #00000081;
    padding-left: 50px;
    padding-right: 50px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

@media screen and (max-width: 345px) {
  .popup-profile {
    width: calc(100% - 94px);
  }
}

