@import url(./__container/popup__container.css);
@import url(./__close-button/popup__close-button.css);
@import url(./__form/popup__form.css);
@import url(./__title/popup__title.css);
@import url(./__input/popup__input.css);
@import url(./__full-size-img/popup__full-size-img.css);
@import url(./__submit-button/popup__submit-button.css);
@import url(./__input-error/popup__input-error.css);

.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 80px);
    height: 100%;
    background-color: #00000081;
    padding-left: 50px;
    padding-right: 50px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s linear;
}

@media screen and (max-width: 345px) {
  .popup {
    width: calc(100% - 94px);
  }
}

